__pycache__/
.cursor/
.idea/
.venv/

experiences/

logs/
models/

RobotBalletPg1-10-bib4llm/
RobotBalletPg10-13-bib4llm/

*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.eps
*.pdf

.DS_Store